/* cours--style start*/
.cours{
    padding: 50px 0;
}

.cours .container h2{
    margin-bottom: 10px;
    font-weight: 500;
}
.cours-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cours-box .box{
    display: flex;
    flex-direction: column;
}
.cours-box .box .img{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    
}
.cours-box .box .img img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    transition: all .5s ease-in-out;
}
.cours-box .box .img img:hover{
    transform: scale(0.8);
}

.cours-box .box .text{
    margin-top: 10px;
}

.cours-box .box .text h3{
    font-size: 16px;
    font-weight: 600;
}
.cours-box .box .text p{
    font-size: 14px;
    font-weight: 200;
    color: #4a4a4a;
}

/* cours--style end*/

/* content--style start*/
.content .container{
    gap :5rem;
}
.content .container .text h2{
    font-weight: bold;
}

.content .form{
    width: 50%;
}
.content .form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.content form input{
    border-radius: 10px;
    border: none;
    outline: none;
}

.content form #email{
    padding: 20px 15px;
    background-color: #D8D8D8;
}
.content form #email::placeholder{
    color: black;
}

.content form input[type="submit"]{
    padding: 10px;
    cursor: pointer;
    color: #fff;
    background-color: var(--roseColor--);
    font-size: 16px;
    font-weight: 300;
    box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, .3);
    transition: all .5s ease-in-out;
}
.content form input[type="submit"]:hover{
    transform: scale(1.1);
}
/* content--style end*/

/* Responsive design */


@media screen and (max-width : 870px) {
    .cours{
        padding: 30px 0;
    }
    .cours-box{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .content .container{
        gap : 30px;
    }
    .content .form{
        width: 100%;
    }
}

@media screen and (max-width : 630px){
    .cours-box{
        grid-template-columns: 1fr;
    }
}